Repository HenryVerissimo/api_async_com_python: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements, format, linter

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: requirements
        name: Update requirements.txt
        entry: bash -c "uv export --no-annotate --no-header --format requirements.txt > requirements.txt"
        language: python
        files: ^uv\.lock$
        stages: [pre-commit]
    -   id: format
        name: Format with ruff
        entry: bash -c "uv run ruff format ."
        language: python
        files: .py$
        stages: [pre-commit]
    -   id: linter
        name: Linter with ruff
        entry: bash -c "uv run ruff check ."
        language: python
        files: .py$
        stages: [pre-commit]
    -   id: pytest
        name: tests with pytest
        entry: bash -c "uv run pytest --cov --cov-fail-under=80"
        language: python
        stages: [pre-push]
    -   id: security
        name: security with bandit
        entry: bash -c "uv run bandit -r src"
        language: python
        stages: [pre-push]

chore(dependencies) add new dependency
  pyproject.toml
  requirements.txt
  uv.lock
Due: requirements

feat(database): create connection database class
  src/database/mysql/configs/database_connection.py
Due: format, linter

chore(doc) create and update docstrings
  src/api/__init__.py
  src/database/__init__.py
  src/database/mysql/configs/__init__.py
  src/database/mysql/configs/database_connection.py
  src/database/mysql/models/users_model.py
Due: format, linter

chore(pytest-asyncio): add new dependency
  pyproject.toml
  requirements.txt
  uv.lock
Due: requirements

refactor(mysql-conn): make MySQL connection async
  src/database/mysql/configs/database_connection.py
Due: format, linter

chore(version): bump project to v0.2.0
  pyproject.toml
Due: none

feat(Quart) Create a new users route
  src/api/routes/__init__.py
  src/api/routes/users_route.py
Due: format, linter

feat(pydantic): Create new user Schemas
  src/schemas/__init__.py
  src/schemas/user_schema.py
Due: format, linter

feat(Quart): register users blueprint
  src/api/__init__.py
Due: format, linter

chore(pre-commit): update pre-commit
  .pre-commit-config.yaml
Due: none

feat(controllers): create new user controller
  src/controllers/__init__.py
  src/controllers/users_controller.py
Due: format, linter

feat(models): update user model
  src/database/mysql/configs/__init__.py
  src/database/mysql/models/__init__.py
  src/database/mysql/models/users_model.py
Due: format, linter

feat(repositories): create new user repository
  src/database/mysql/repositories/__init__.py
  src/database/mysql/repositories/users_repository.py
Due: format, linter
